$color-warning: #da270c;
$color-success: #76a346;
$color-neutral: #46a3a0;

$color-text: #4e4446;
$color-text-completed: lighten($color-text, 50%);
$color-border: 	#d3d2c0;
$color-background: lighten($color-border, 19%);